@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

h1 {
    color: pink;
    font-family: 'Fruktur', cursive;
}

.hero {
    height: 75vh;
    background: url("images/texture1.jpeg");
}